.ant-input-affix-wrapper .ant-input {
  text-align: center;
}

.ant-input-number {
  border-radius: 9999px;
}
.ant-input-number-input {
  text-align: center !important;
}

.ant-select-selector {
  border-radius: 9999px !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
}
